body {
	text-align: center;
	font-family: 'Comfortaa';
}

section {
	height: 260px;
}

section table {
	border-spacing: 1px 1px;
	border-width: 0px;
}

section td {
	position: relative;
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	transition: background-color 300ms, width 1s, height 1s, color 600ms ease-in-out,
	box-shadow 0.5s ease-in-out, opacity 1s ease-out;
	background-color: #EEEEEE;
	opacity: 0.9;
}

@media screen and (max-device-width: 480px) {
	section td {
		font-size: 70pt;
		width: 220px;
		height: 220px;
		border-radius: 30px;
  	}

  	.but {
		font-size: 20pt;
	}
}
 
@media screen and (min-device-width: 768px) {
	section td {
		font-size: 60pt;
    	width: 140px;
		height: 140px;
		border-radius: 12px;
	}

	section td:hover {
		z-index: 10;
		box-shadow: 0px 0px 30px black;
		cursor: pointer;
	}

	footer a:hover {
		font-size: 16pt;
		font-weight: bold;
		transition: all 3s ease-in-out;
		cursor: pointer;
	}

	.but {
		font-size: 12pt;
	}

	.but:hover {
		transition: box-shadow 500ms;
		box-shadow: 0px 0px 10px black;
		cursor: pointer;
	}
}

header div {
	margin-top: 32px;
	margin-bottom: 22px;
}

footer {
	font-size: 14pt;
	position: absolute;
	top: calc(100vh - 25px);
}

footer a {
	text-decoration: none;
	color: black;
}

.but {
	transition: background-color 1s,color 0.8s;
	border-radius: 10px;
	background-color: white;
	border-color: black;
	border-style: solid;
	padding: 5px;
	position: relative;
	top: -11px;
}
textarea {
	resize: none;
}

#stats {
	text-align: left;
	border-width: 2px; 
	border-radius: 15px;
	background-color: white;
	border-color: black;
	border-style: solid;
	padding: 10px;
	position: relative;
	margin-top: 140px; 
	margin-left: 20px;
}
#wdl{
	font-size:25px;
	text-align: left;
}
#name {
	overflow:hidden;
	font-size: 30px;
}