body {
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	background-color: black;
	color: white;
}

#text {
	margin-left: 15px;
	width: 100%
}

footer {
	position: absolute;
	bottom: 0px;
}

h2 {
	text-align: center;
}