body {
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	background-color: black;
	color: white;
}

#text {	
	margin-left: 15px;
}
#moneypic {
	margin-top: 100px;
	margin-right: 100px;
	float: right;
}
#button {
	margin-top:10px;
	margin-left: 350px;
	margin-right: 110px;
	float: right;

}