@media screen and (max-device-width: 520px) {

h1 {
	font-size: 44pt;
}

#players_names {
	font-size: 50pt;
}

section td {
	font-size: 70pt;
	width: 270px;
	height: 270px;
	border-radius: 30px;
}

.but {
	font-size: 20pt;
}

.left_column {
	left: 4%;
	width: 90%;
}

#stats {
	top: 1095px;
	height: 120px;
}

#players_rooms {
	top: 1250px;
	height: 400px;
}

#players_rooms .room {
	font-size: 34pt;
}

#name {
	display: inline;
}

#wdl {
	display: inline;
	margin-left: 15px;
}

section h2 {
	margin-bottom: 12px;
}

#footer {
	font-size: 24pt;
	height: 36px;
	width: 90%;
}

}